@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Josefin+Sans&family=Poppins:ital,wght@0,400;1,200&display=swap');


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  font-family: "Poppins",sans-serif;
}
