{% extends 'base.html' %}


{% block content %}


    <a href="{% url 'show' %}" class="btn btn-light mt-4 col-lg-2 offset-lg-3">
      Back to Home
    </a>
<form action="" method="post">
    {% csrf_token %}

    <ul class="list-group col-lg-4 offset-lg-3 my-5 shadow p-5">
        <p class="fs-2 text-center">Change Password</p>
        <li class="list-group my-2">
              {{form.old_password.label_tag}}
    {{form.old_password}}

        </li>
        <li class="list-group my-2">
    {{form.new_password1.label_tag}} 
    {{form.new_password1}}</li>
        <li class="list-group my-2"> 
    {{form.new_password2.label_tag}}
    {{form.new_password2}} </li>
  
    <br>
    <br>
     
    {% if form.errors %}
       {% for fields,errors in form.errors.items %}

        {% for field in fields %}
         {{field}} 
        {% endfor %}
       {{errors}} 
       {% endfor %}
    
    {% endif %}
<br>
    <button type="submit" class="btn btn-dark rounded mt-5">submit</button>
              </ul>

  
</form>


{% endblock %}