{%extends 'base.html'%} {%block content%}

<a href="{% url 'show' %}" class="btn btn-light mt-4 col-lg-2 offset-lg-3">
  Back to Home
</a>
<div class="center">
  <form method="post" class="card">
    {% csrf_token %}
    <h2 class="text-center">Reset Password</h2>
    <div class="conatainer">
      <div class="row justify-content-center align-items-center g-2">
        <div class="col-lg-6 mx-5 my-5">
          {{form}}

          <input type="submit" value="Send" class="btn btn-primary" />
          <a href="{%url 'login' %}" class="btn btn-outline">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>
{%endblock%}
