{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-lg-6">
      <a
        href="{% url 'show' %}"
        class="btn btn-light mt-4 col-lg-2 offset-lg-3">
        Back to Home
      </a>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <ul class="list-group shadow p-4 my-5">
          <li class="list-group my-2">
            {{ form.username.label_tag }} {{form.username}}
          </li>
          <li class="list-group my-2">
            {{ form.email.label_tag }} {{form.email}}
          </li>
          {% if form.userIMG %}
          <li class="list-group my-2">{{form.userIMG}}</li>
          {% else %}
          <li class="list-group my-2">No image</li>
          {% endif %}
          <br />

          {{ form.password.label_tag }}

          <a href="{% url 'customchangepassword' %}">
            here you can update password</a
          >

          <button type="submit" class="btn btn-dark rounded my-3">click</button>
        </ul>
      </form>
    </div>
  </div>
</div>

{% endblock %}
